doctype
html(lang="ru")
	head
		include assets/_metas.pug
		include assets/_links.pug
		include ../components/header.pug
	body.uk-animation-fade
		h1 your text
		include ../components/footer.pug
		include assets/_scripts.pug